<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sample1.Properties.Settings.ConnectionString" connectionString="Data Source=MUNAWAR-ICTCODE\SQLEXPRESS_2014;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
      <add name="dbConn" connectionString="Data Source=MUNAWAR-ICTCODE\SQLEXPRESS_2014;Initial Catalog=myCustDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>